body {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Cabin', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

/* HEADER */
header {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-content .social a {
    background: darkslategray;
    width: 22px;
    height: 22px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: white;
    text-align: center;
}

.profile-content .social a:hover {
    background: darkgray;
}

/* SECTIONS */
.section-inner .heading {
    margin-bottom: 30px;
}

.sections-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section  {
    background: white;
    margin-bottom: 30px;
}

.section-inner {
    padding: 20px;
}