body {
    background: #F0F0F0;
    font-family: 'Cabin', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

/* HEADER */
header {
    background: lightgrey;
}

.profile-content .social a {
    background: darkslategray;
    width: 22px;
    height: 22px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    color: white;
    text-align: center;
}

.profile-content .social a:hover {
    background: darkgray;
}

/* SECTIONS */
.section-inner .heading {
    margin-bottom: 30px;
}

.sections-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section  {
    background: white;
    margin-bottom: 30px;
}

.section-inner {
    padding: 25px;
}